.sidebar {
  background: #f9f9f9;
  float: right;
  margin-right: -330px;
  display: inline-block;
  height: 100%;
  width: 330px;
  &-toggle {
    display: none;
    font-size: 24px;
  }
  &-inner {
    .poster-box {
      padding: 10px;
      img {
        width: 100%;
      }
    }
  }
  .widget,.tag-list-item:hover {
    a:hover,a:hover::before,.tag-list-count {
      color: #333;
    }
  }
  .widget {
    line-height: 1.6em;
    word-wrap: break-word;
    font-size: 0.9em;
    color: #777;
    border-radius: 3px;
  }
  .widgets-container {
    background: #f9f9f9;
    padding-bottom: 50px;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
  }
  .widget a {
    text-decoration: none;
    color: #777;
  }
  .widget-wrap {
    padding: 30px 25px 20px;
  }

  .widget-list ul li, .widget-list ol li {
    padding: 10px 0;
    font-size: 15px;
    border-bottom: 1px solid #e4e4e4;
  }

  .widget-title {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
}
