@import './font-awesome/css/font-awesome.min.css';
.article-tag-link {
  color: #006bde;
  border: 1px solid #006bde;
  font-size: 12px;
  padding: 5px 5px;
  line-height: 12px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
}

.article-entry {
  overflow: auto;
}

.container {
  position: relative;
  padding: 0 20px;
  &-inner {
    max-width: 1120px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
}

i.icon {
  display: inline-block;
  font-style: normal;
  text-align: center;
}

.logo {
  display: block;
  padding: 10px 0;
  width: 210px;
  height: 70px;
  background: url(./images/logo.png) 0px 10px no-repeat;
  background-size: 210px 50px;
}
