#new {
  .main-body-header {
    background: #fff;
    position: relative;
    padding: 18px 30px 17px;
    border-bottom: 1px solid #eee;
    color: #666;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;

    a {
      color: #aaa;
    }
  }

  .article-single {
    padding: 30px 30px 20px;

    .article-title {
      margin-top: 0px;
      text-align: center;
      text-decoration: none;
      font-size: 28px;
      letter-spacing: -1px;
      color: #333;
      line-height: 1.3em;
      transition: color 0.2s;
      margin-bottom: 10px;
    }

    .article-meta {
      font-size: 14px;
      color: #999;
      overflow: hidden;
      border-bottom: 1px solid #ccc;
      .article-date > span {
        margin-right: 10px;
      }
      div {
        line-height: 1.6em;
        float: left;
        margin-right: 10px;

        a {
          color: #555;
        }
      }
      .article-author {
        float: right;
        margin-left: 10px;
        .fa {
          margin-right: 5px;
        }
      }
    }
  }

  .article-entry {
    color: #333;
    font-size: 14px;
    padding-top: 20px;

    .article-entry img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: auto;
    }
  }
}
