.footer {
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  background: #33363b;
  margin-top: 60px;
  color: #aaa;
  line-height: 1.6em;
  .credit {
    padding: 30px;
    .logo {
      width: 168px;
      height: 60px;
      background-size: 168px 40px;
    }
  }
}
