.footer {
  background: #33363b;
  margin-top: 60px;
  color: #aaa;
  line-height: 1.6em;
  .credit {
    padding: 30px;
    .logo {
      width: 168px;
      height: 60px;
      background-size: 168px 40px;
    }
  }
}
