.header {
  background: #1f2226;
  .logo-wrap {
    float: left;
  }
  .subtitle {
    font-size: 16px;
    font-style: italic;
    line-height: 60px;
    color: rgba(255,255,255,0.7);
    text-shadow: 0 1px rgba(0,0,0,0.2);
  }
  &-inner::-webkit-scrollbar {
    display: none;
  }
  &-inner {
    position: relative;
    z-index: 2;
    height: 70px;
    min-width: 860px;
    transition: height 0.2s ease-in;
    .main-nav-toggle {
      display: none;
    }
    .nav-icon {
      display: none;
      text-align: right;
      line-height: 20px;
      font-size: 14px;
      position: relative;
      box-sizing: border-box;
      padding: 15px 14px;
      overflow: hidden;
      cursor: pointer;
    }
    .main-nav {
      line-height: 70px;
      background: #1f2226;
      float: left;
      &-list-item .router-link-exact-active {
        background: #3a3f45;
        border-radius: 4px;
        margin-top: 15px;
        line-height: 40px;
      }
      &-list-item:hover {
        a {
          color: #fff;
        }
      }
      &-list-item {
        float: left;
        font-size: 16px;
        padding: 0;
        font-weight: 600;
        a {
          display: block;
          padding: 0 20px;
          color: rgba(255,255,255,0.8);
        }
      }
      .router-link-exact-active {
        color: rgb(255,255,255);
      }
    }
  }
  .sub-nav {
    background: #1f2226;
    float: right;
    z-index: 999;
    height: 70px;
    line-height: 70px;
    width: 320px;
    .ivu-input-wrapper {
      width: 220px;
    }
    .ivu-dropdown {
      margin-right: 10px;
      .ivu-icon-arrow-down-b {
        margin-left: 5px;
      }
    }
  }
}
