.main-body-inner .main {
  background: #fff;
  position: relative;
  .selected-box {
    position: absolute;
    z-index: 999;
    width: 100%;
    .selected-item {
      padding: 0 30px;
      line-height: 48px;
      border-bottom: 1px solid #aaa;
      background: #f9f9f9;
      span {
        padding-right: 10px;
        color: #666;
        font-size: 14px;
      }
    }
  }
}

.sidebar-toggle {
  width: 100%;
}

@media only screen and (max-width: 479px) {
  #header {
    padding-bottom: 0px !important;
  }
  .header {
    .logo-wrap {
      width: 100%;
      .logo {
        margin: 0 auto;
      }
    }
    .subtitle-wrap {
      display: block !important;
      width: 100%;
      margin-left: 0px !important;
    }
    .header-inner.show {
      .main-nav {
        line-height: 50px !important;
        .main-nav-list-item {
          border-bottom: 1px solid #444;
        }
      }
      .sub-nav {
        width: 100%;
        display: block;
      }
    }
    .header-inner {
      padding: 0px !important;
      .main-nav-toggle {
        background: rgba(0,0,0,0.1);
        color: #fff;
        display: block !important;
      }
      .fa-bars:before {
        content: "\F0C9";
        float: right;
      }
      .main-nav {
        overflow: hidden;
        transition: all ease .2s;
        float: none !important;
        line-height: 0px !important;
        .main-nav-list-item {
          border-bottom: 0px;
          display: block;
          float: none;
          box-shadow: none;
          box-sizing: border-box;
        }
      }
      .sub-nav {
        display: none;
        .search-form-wrap {
          padding: 13px 20px !important;
        }
        input {
          width: 70%;
        }
      }
    }
  }
  .container {
    .main-body {
      margin-top: 0px;
    }
    .main-body-header {
      padding: 12px 15px !important;
    }
    .main-body-inner {
      padding-left: 0px;
      .archive-year-wrap {
        padding: 13px 15px 12px;
      }
      .article-row {
        padding: 0 0 0 15px;
        border: none;
        .article-summary {
          width: 100%;
          &-inner {
            margin: 15px 15px 15px 0;
          }
        }
      }
    }
    padding: 0px !important;
    .sidebar {
      position: static;
      margin: 0px;
      width: 100%;
      background: #f0f0f0;
      &-top, .widget-wrap {
        padding: 15px !important;
      }
    }
  }
  .article-entry img {
    width: 100% !important;
    height: auto !important;
  }
  .footer {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 959px) and (min-width: 480px) {
  #header {
    padding-bottom: 50px !important;
  }
  .container .sidebar {
    width: 50px;
    transition: width 0.2s ease-in 0.2s;
    .widgets-container, .sidebar-top {
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }
  }
  .widgets-container {
    padding-bottom: 110px !important;
  }
  .container .sidebar.show {
    .widgets-container, .sidebar-top {
      opacity: 1;
      transition: opacity 0.2s ease-in;
    }
    .sidebar-toggle .toggle:before {
      content: '\F100';
    }
    width: 300px;
    transition: width 0.2s ease-in;
  }
  .main-body {
    margin-top: -50px !important;
  }
  .main-body-header {
    padding: 12px 30px !important;
  }
  .main-body-inner {
    padding-left: 50px !important;
    transition: padding-left 0.2s ease-in;
    background-position: -290px 0 !important;
    .sidebar .sidebar-toggle {
      display: block;
      padding: 6px;
      color: rgba(255,255,255,0.7);
      text-align: center;
      height: 50px;
      background: #006bde;
      transition: all 0.2s ease-in;
      box-sizing: border-box;
      .toggle {
        line-height: 36px;
        font-size: 38px;
        width: 38px;
        font-family: fontawesome;
        &:before {
          content: '\f101';
        }
      }
    }
  }
}
